{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cadastre-se</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="{% static 'template1/images/mini_logo.png' %}">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="{% static 'template1/css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'template1/css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'template1/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'template1/css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'template1/css/style.css' %}" rel="stylesheet">
</head>

<body class="h-100" style="background-color: #DDB4CA;" data-typography="poppins" data-theme-version="light" data-layout="vertical" data-nav-headerbg="color_1" data-headerbg="color_1" data-sidebar-style="full" data-sibebarbg="color_1" data-sidebar-position="fixed" data-header-position="fixed" data-container="wide" direction="ltr">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">                        
                        <div class="login-form">
                            <h4>Seja um apoiador</h4>
                            <form action="{% url 'url_apoiador' %}">
                                <div class="form-group">
                                    <label><strong>Nome Completo:</strong></label>
                                    <input type="text" class="form-control" placeholder="Digite aqui">
                                </div>
                                <div class="form-group">
                                    <label><strong>Email</strong></label>
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label><strong>Senha</strong></label>
                                    <input type="password" class="form-control" placeholder="Senha">
                                </div>
                                <div class="checkbox">
                                    <label>
										<input type="checkbox"> Concordo com os termos
									</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Cadastrar</button>
                              
                                <div class="register-link m-t-15 text-center">
                                    <p>Já possui uma conta ? <a href="{% url 'url_login' %}"> Entre</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>