{% extends 'maec/doar.html' %}
{%block title%}Cartão{% endblock %}
{% block conteudo %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="text-center mb-4">
                                    <h4>Cartão</h4>                                   
                                </div>
                                <div class="card-body">
                                   
                                    <div class="form-group">
                                        <div class="form-group">  <label>Selecionar tipo do cartão</label>
                                            <select class="form-control">
                                                <option>Crédito</option>
                                                <option>Débito</option>
                                            </select>
                                        <label>Nome no cartão</label>
                                        <input type="text" class="form-control" placeholder="Digite aqui">
                                    </div>
                                    <div class="form-group">
                                        <label>Número do cartão</label>
                                        <input type="number" class="form-control" placeholder="Digite aqui">
                                    </div>
                                    <div class="form-group">
                                        <label>Código de segurança (CVV)</label>
                                        <input maxlength="3" class="form-control" placeholder="Digite aqui">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Data de expiração</label>
                                        <input type="month" class="form-control" placeholder="Digite aqui">
                                    </div>
                                    
        
                                    <button type="submit" class="btn btn-pink btn-block">Doar</button>
                                </form>
                                 
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</div>
{% endblock %}