{% extends 'maec/doar.html' %}
{%block title%}Conta{% endblock %}
{% block doar %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid  col-md-12 offset-md-3 my-3">
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="text-center mb-4">
                                    <h4>Conta</h4>                                   
                                </div>
                                <div class="card-body">
                                    <h5 >Nome:</h5>
                                    <h5 >Agência:</h5>  
                                    <h5 >Conta:</h5>
                                    <h5 >Operação:</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</div> 
{% endblock %}