{% extends 'maec/funcionario.html' %}
{%block title%}Cadastrar Mãe{% endblock %}
{% block cadastrar_mae %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">                          
                        </div>
                    </div>
                </div>   
            </div>
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="text-center mb-4">
                                    <h4>Cadastrar Mãe</h4>                                   
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form>
                                            <div class="form-group">
                                                <label>Nome </label>
                                                <input type="text" class="form-control" placeholder="Nome">
                                            </div>
                                            <div class="form-group">
                                                <label>Quantidade de filhos </label>
                                                <input type="number" class="form-control" placeholder="Digite aqui">
                                            </div>
                                            <div class="form-group">
                                                <label>Email </label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label>Senha</label>
                                                <input type="password" class="form-control" placeholder="Senha">
                                            </div>
                                            <div class="text-center">
                                                <h4>Dados bancários</h4>                                   
                                            </div>
                                            <div class="form-group">
                                                <label>Pix</label>
                                                <input type="password" class="form-control" placeholder="Digite aqui">
                                            </div>
                                            <div class="form-group">
                                                <label>Boleto</label>
                                                <input type="password" class="form-control" placeholder="Digite aqui">
                                            </div>
                                            <div class="text-center">
                                                <h4>Conta para depósito</h4>                                   
                                            </div>
                                            <div class="form-group">
                                                <label>Operação</label>
                                                <input type="password" class="form-control" placeholder="Digite aqui">
                                            </div>
                                            <div class="form-group">
                                                <label>Agência</label>
                                                <input type="password" class="form-control" placeholder="Digite aqui">
                                            </div>
                                            <div class="form-group">
                                                <label>Conta</label>
                                                <input type="password" class="form-control" placeholder="Digite aqui">
                                            </div>
                                            <div class="text-center"></div>
                
                                            <button type="submit" class="btn btn-default btn-block">Cadastrar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</div>

{% endblock %}