{% extends 'maec/funcionario.html' %}
{%block title%}Cadastrar Mãe{% endblock %}
{% block conteudo %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid  col-md-12 offset-md-3 my-3">
            <div class="row">
                <div class="col-lg-6 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">                          
                        </div>
                    </div>
                </div>   
            </div>
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="text-center mb-4">
                                    <h4 style="font-family: 'Mogra', cursive;">Cadastrar Mãe</h4>                                   
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <div class="card">
                                        <form>
                                            <div class="form-group">
                                                <label>Nome Completo</label>
                                                <input type="text" class="form-control input-rounded" placeholder="Digite aqui">
                                            </div>
                                            <div class="form-group">
                                                <label>Data de Nascimento </label>
                                                <input type="date" class="form-control input-rounded">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="phone">Celular</label>
                                                <input type="tel" id="telefone" name="telefone" class="form-control input-rounded" placeholder="(xx) xxxxx-xxxx" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}"required>
                                            </div>
                                            <div class="form-group">
                                                <label>Quantidade de filhos </label>
                                                <input type="number" class="form-control input-rounded" placeholder="Digite aqui">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>CPF</label>
                                                <input type="text" class="form-control input-rounded" placeholder="111.222.333-44">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>Fonte de Renda</label>
                                                <input type="text" class="form-control input-rounded" placeholder="Digite aqui">
                                            </div>
                                            <div class="form-group">
                                                <label>Situação de Trabalho</label>
                                                <input type="text" class="form-control input-rounded" placeholder="Digite aqui">
                                            </div>
                                            <div class="form-group">
                                                <label>Moradia</label>
                                                <input type="text" class="form-control input-rounded" placeholder="Digite aqui">
                                            </div>
                                            <label>Endereço</label>
                                            <div class="form-row">
                                                        <div class="col mt-2 mt-sm-0">
                                                            <input type="text" class="form-control input-rounded" placeholder="Cidade">
                                                        </div>
                                                        <div class="col mt-2 mt-sm-0">
                                                            <input type="text" class="form-control input-rounded" placeholder="Bairro">
                                                        </div>
                                                        <div class="col sm-7 ">
                                                            <input type="text" class="form-control input-rounded" placeholder="Logradouro">
                                                        </div>
                                            </div>
                                            </div>
                                            <button type="submit" class="btn btn-pink btn-block btn-rounded" >Cadastrar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</div>

{% endblock %}