{% extends 'maec/apoiador.html' %}
{%block title%}Doar Produto{% endblock %}
{% block conteudo %} 
<div class="content-wrap ">
    <div class="main">
        <div class="container-fluid  col-md-12 offset-md-3 my-3">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">                          
                        </div>
                    </div>
                </div>   
            </div>
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="text-center mb-4">
                                    <h4>Doar Produto</h4>                                   
                                </div>
                                    <div class="basic-form">
                                        <form>
                                            <div class="form-group">
                                                <label>Produto</label>
                                                <input type="text" class="form-control" placeholder="Digite aqui">
                                            </div>
                                            <div class="form-group"><label>Estado do produto</label>
                                                <select class="form-control">
                                                    <option>Novo</option>
                                                    <option>Usado</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                            <label>Local para retirada</label>
                                            <input type="text" class="form-control" placeholder="Digite aqui">
                                            </div>
                                            <button type="submit" class="btn btn-pink btn-block">Salvar</button>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</div>
{% endblock %}