{% extends 'maec/doar.html' %}
{%block title%}Pix{% endblock %}
{% block pix %}
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="text-center mb-4">
                                    <h4>Pix</h4>                                   
                                </div>
                                <div class="card-body">
                                    <h5 >Nome:</h5>
                                    <h5 >Chave:</h5>
                                </div>   
                            </div>
                        </div>
                     </div>
                </section>
        </div>
    </div>
</div>
{% endblock %}