{% extends 'maec/funcionario.html' %}
{%block title%}Ver Mães{% endblock %}
{% block tabela_maes %}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">  
                    </div>
                </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                              <h4 class="card-title">Mães Cadastradas</h4>
                            </div>
                              <div class="card-body">
                                <div class="table table-hover">
                                   <table class="table table-bordered verticle-middle table-responsive-sm">
                                    <thead>
                                            <tr>
                                                <th>Nome</th> 
                                                <th>Doações</th>                                      
                                                <th></th>
                                            </tr>
                                        </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                            <span>
                                                <a href="#">Diana</a>
                                            </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <a href="{% url 'url_eventos' %}">Evento</a>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="fa fa-pencil color-muted"></i>
                                                    </a>
                                                    <a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Close">
                                                        <i class="fa fa-close color-danger"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <span>
                                                <a href="#">Moisés</a>
                                            </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <a href="{% url 'url_eventos' %}">Evento</a>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="fa fa-pencil color-muted"></i>
                                                    </a>
                                                    <a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Close">
                                                        <i class="fa fa-close color-danger"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}